<!DOCTYPE html>
<html>
<head>
    <title>Lanuquitos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        td img{
            max-width: 100px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Mi Sitio</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materiales.html">Materiales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
    </nav>
    <div id="app" class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar producto" v-model="buscar">
                    <div class="input-group-append">
                        <button v-on:click="busqueda()" class="btn btn-primary" type="button">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary mb-4" href="lanuquito_nuevo.html">Nuevo Registro</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Foto</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="lanuquito in lanuquitos">
                            <td> <a :href="'lanuquito.html?id='+ lanuquito.id">{{lanuquito.nombre}}</a></td>
                            <td>{{lanuquito.categoria.nombre}}</td>

                            <td><img :src="'img/fotos/'+ (lanuquito.imagenes[0]?.ruta || 'no_picture.png')" alt="Foto del producto"></td>
                         
                            <td>$ {{lanuquito.precio}}</td>
                            <td>
                                <a :href="'lanuquito_detalle.html?id='+ lanuquito.id" class="btn btn-sm btn-primary">Editar</a>
                                <button type="button" v-on:click="eliminarLanuquito(lanuquito.id)" class="btn btn-sm btn-danger">Eliminar</button>

                            </td>
                        </tr>
                        <!-- Agrega más filas según tus productos -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Enlace de VUE-->
    <script src="./js/lanuquitos.js"></script>
</body>
</html>
