<!DOCTYPE html>
<html>
<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .add-product {
            text-align: center;
            max-width: 450px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Mi Sitio</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="materiales.html">Materiales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="imagenes.html">Imagenes</a>
            </li>
        </ul>
    </nav>
    <div id="app" class="container">
        <div class="add-product">
            <h1>Agregar Producto</h1>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" v-model="nombre" required>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <div class="input-group">
                        <select class="form-control" id="categoria.id" name="categoria.id" v-model="id_categoria">
                            <option v-for="categoria in categorias" :value="categoria.id" :key="categoria.id">{{categoria.nombre}} </option>
                        </select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#agregarCategoriaModal">+</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" id="precio" name="precio" v-model="precio">
                </div>
                <div class="text-center">
                    <button type="button" v-on:click="guardar()" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar Formulario</button>
                </div>
            </form>
        </div>
  

    <!-- Modal Agregar Categoría -->
    <div class="modal fade" id="agregarCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="agregarCategoriaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarCategoriaModalLabel">Agregar Categoría</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nuevaCategoria">Categoría</label>
                            <input type="text" class="form-control" id="nuevaCategoria" name="nuevaCategoria" v-model="nuevaCategoria">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="agregarCategoria">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Enlace de VUE-->
    <script src="./js/lanuquitos.js"></script>
</body>
</html>
